<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    {{ block "title" . }}
    <title>
      {{ .Site.Title }}{{ with .Site.Params.Subtitle }} — {{ . }}{{ end }}
    </title>
    {{ end }} {{ partial "head.html" . }}
  </head>
  <body
    {{
    with
    .Site.Params.defaultTheme
    -
    }}
    class="{{ printf '%s-theme' . }}"
    {{
    -
    end
    }}
  >
    <div id="site">
      {{ partial "header.html" . }}

      <main>{{ block "main" . }} {{ end }}</main>

      {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }}
    </div>
  </body>
</html>
