<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="bg-gray-100 min-h-screen">
    <header class="bg-white shadow">
      <div class="container mx-auto px-4 py-2">
        <h1 class="text-xl font-semibold">{{ .Site.Title }}</h1>
      </div>
    </header>

    <main class="container mx-auto px-4 py-8">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }}
  </body>
</html>
