<footer class="bg-gray-50 mt-30 w-full">
    <div class="border-t border-slate-900/5 px-4 sm:px-6 lg:px-8 py-10">
      <div class="flex flex-col items-center justify-between md:flex-row">
        <a
          href="#"
          class="text-center lg:text-left text-2xl lg:text-3xl font-bold tracking-tighter leading-tight lg:pr-4 lg:w-1/2 text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-blue-500"
          >Decentralize all the thinks.</a
        >

        <div class="text-center">
          <a
            class="p-4 mr-4 rounded-full shadow text-blue-400 bg-white hover:bg-indigo-50"
            href="https://twitter.com/colkitoxyz"
            title="Follow me"
            target="_blank"
          >
            <i class="fa-fw fa-brands fa-twitter"></i>
          </a>

          <a
            class="p-4 mr-4 rounded-full shadow text-center text-slate-700 bg-white hover:bg-indigo-50"
            href="https://github.com/colkito"
            title="Check my code"
            target="_blank"
          >
            <i class="fa-fw fa-brands fa-github-alt"></i>
          </a>

          <a
            class="p-4 rounded-full shadow text-indigo-600 bg-white hover:bg-indigo-50"
            href="mailto:hi@colkito.xyz"
            title="Send me an email"
            target="_blank"
          >
            <i class="fa-fw fa-solid fa-at"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</footer>
